<form [formGroup]="finishForm" (ngSubmit)="saveData()">
  <h1 mat-dialog-title>Finish {{objType}}</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Result</mat-label>
      <textarea #result maxlength="400" formControlName="result" matInput></textarea>
      <mat-hint align="end">{{result.value.length}}/400</mat-hint>
      <mat-error *ngIf="finishForm.controls['result'].hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="!isFormValid(finishForm)">Save</button>
    <button [mat-dialog-close] mat-raised-button color="warn">Cancel</button>
  </div>
</form>
