@import "https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css";
body {
    background: url(https://images.pexels.com/photos/1379620/pexels-photo-1379620.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header {
    background-color: darkslategrey;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15svh;
    box-shadow: 5svb 5svb 10svb rgb(0, 0, 0, 0.3);
}

h1 {
    letter-spacing: 1.5svw;
    font-family: 'system-ui';
    text-transform: uppercase;
    text-align: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60svh;
}

.form_class {
    width: 500px;
    padding: 40px;
    border-radius: 8px;
    background-color: white;
    /*font-family: 'system-ui';*/
    box-shadow: 5svb 5svb 10svb rgb(0, 0, 0, 0.3);
}

.form_div {
    text-transform: uppercase;
}

.form_div>label {
    letter-spacing: 3px;
    font-size: 1rem;
}

.field_class {
    width: 100%;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 0;
    text-indent: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
    /*font-family: 'system-ui';*/
    font-size: 0.9rem;
    letter-spacing: 2px;
}

.submit_class {
    border-style: none;
    border-radius: 5px;
    background-color: #FFE6D4;
    padding: 8px 20px;
    /*font-family: 'system-ui';*/
    text-transform: uppercase;
    letter-spacing: .8px;
    display: block;
    margin: auto;
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.2);
    cursor: pointer;
}

.nav-item {
    float: left;
}

img {
    width: 40px;
    height: 30px;
}

#warning {
    color: red;
    font-size: 13px;
    text-align: center;
}