<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 shadow">
        <a class="navbar-brand" routerLink="/user" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="../../../assets/goji.png" class="d-inline-block" alt="Goji">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/user" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
                </li>
                <li class="nav-item" *ngIf="user?.role=='Admin'">
                    <a class="nav-link" routerLink="/users" routerLinkActive="active" ariaCurrentWhenActive="page">Users</a>
                </li>
                <li class="nav-item" *ngIf="user?.role=='Account Manager'">
                    <a class="nav-link" routerLink="/clients" routerLinkActive="active" ariaCurrentWhenActive="page">Clients</a>
                </li>
                <li class="nav-item" *ngIf="user?.role=='Account Manager'">
                    <a class="nav-link" routerLink="/products" routerLinkActive="active" ariaCurrentWhenActive="page">Products</a>
                </li>
                <li class="nav-item" *ngIf="user?.role=='Account Manager'">
                    <a class="nav-link" routerLink="/requests" routerLinkActive="active" ariaCurrentWhenActive="page">Requests</a>
                </li>
                <li class="nav-item" *ngIf="user?.role=='Account Manager' || user?.role=='Product Manager'">
                    <a class="nav-link" routerLink="/issues" routerLinkActive="active" ariaCurrentWhenActive="page">Issues</a>
                </li>
                <li class="nav-item" *ngIf="user?.role=='Account Manager' || user?.role=='Product Manager' || user?.role=='Worker'">
                    <a class="nav-link" routerLink="/tasks" routerLinkActive="active" ariaCurrentWhenActive="page">Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()" routerLinkActive="active" ariaCurrentWhenActive="page">Log
                        out</a>
                </li>
            </ul>
        </div>
    </nav>
    <button mat-mini-fab color="primary" class="mb-4 ml-3" (click)="location.back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div *ngIf="type=='user'">
        <div class="card-container mat-elevation-z3 mat-typography">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>User Information</mat-card-title>
                    <mat-card-actions class="element-card-actions ">
                        <button (click)="editData(getId(element!), type)" mat-icon-button color="primary" class="mod-button">
                        <mat-icon>edit</mat-icon>
                      </button>
                    </mat-card-actions>
                </mat-card-header>
                <mat-card-content>
                    <p><strong>User ID:</strong> {{info![0] }}</p>
                    <p><strong>First Name:</strong> {{info![1] }}</p>
                    <p><strong>Last Name:</strong> {{info![2] }}</p>
                    <p><strong>Login:</strong> {{info![3] }}</p>
                    <p><strong>Email:</strong> {{info![4] }}</p>
                    <p><strong>Role:</strong> {{info![5] }}</p>
                    <p><strong>Active:</strong> {{info![6] }}</p>
                </mat-card-content>
                <mat-card-actions class="element-card-actions ">
                    <div *ngIf="(user?.role=='Admin'&&type=='user'&&canDisactivate())">
                        <div *ngIf="getActive(element)=='true'||getActive(element)==null">
                            <button mat-flat-button color="accent" class="mod-button" (click)="setActive(element!)">
                          DISACTIVATE
                        </button>
                        </div>
                        <div *ngIf="getActive(element)=='false'">
                            <button mat-flat-button color="accent" class="mod-button" (click)="setActive(element!)">
                          ACTIVATE
                        </button>
                        </div>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="mat-typography">
        <div class="specificElement">
            <div *ngIf="type=='issue' || type=='request' || type=='task'">
                <div class="card-container mat-elevation-z3">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Information</mat-card-title>
                            <mat-card-actions class="element-card-actions ">
                                <button (click)="editData(getId(element!), type)" mat-icon-button color="primary" class="mod-button">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </mat-card-actions>
                        </mat-card-header>
                        <mat-card-content>
                            <p><strong>ID:</strong> {{info![0] }}</p>
                            <p><strong>Name:</strong> {{info![1] }}</p>
                            <p><strong>Description:</strong> {{info![2] }}</p>
                            <p><strong>Responsible User:</strong> {{info![3] }}</p>
                            <p><strong>Result:</strong> {{info![4] }}</p>
                            <p><strong>Status:</strong> {{info![5] }}</p>
                            <p><strong>Type:</strong> {{info![6] }}</p>
                            <p><strong>Open Date:</strong> {{info![7] }}</p>
                            <p><strong>In Progress Date:</strong> {{info![8] }}</p>
                            <p><strong>Closed Date:</strong> {{info![9] }}</p>
                        </mat-card-content>
                        <mat-card-actions class="element-card-actions ">
                            <div *ngIf="((user?.role=='Account Manager'&&type=='request')||(user?.role=='Product Manager'&&type=='issue')||(user?.role=='Worker'&&type=='task'))">
                                <div *ngIf="getStatus(element)=='OPEN'">
                                    <button mat-flat-button color="accent" class="mod-button" (click)="setInProgress(element!)">
                                  Start
                                </button>
                                </div>
                                <div *ngIf="getStatus(element)=='IN_PROGRESS'">
                                    <button mat-flat-button color="accent" class="mod-button" (click)="openFinishDialog(getId(element!), element!)">
                                  Finish
                                </button>
                                </div>
                                <div *ngIf="getStatus(element)=='CLOSED'">
                                    <button mat-flat-button color="accent" class="mod-button" (click)="setOpen(element!)">
                                  Reopen
                                </button>
                                </div>
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
            <div *ngIf="type=='product'">
                <div class="card-container mat-elevation-z3">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Information</mat-card-title>
                            <mat-card-actions class="element-card-actions ">
                                <button (click)="editData(getId(element!), type)" mat-icon-button color="primary" class="mod-button">
                                <mat-icon>edit</mat-icon>
                              </button>
                            </mat-card-actions>
                        </mat-card-header>
                        <mat-card-content>
                            <p><strong>ID:</strong> {{info![0] }}</p>
                            <p><strong>Name:</strong> {{info![1] }}</p>
                            <p><strong>Version:</strong> {{info![2] }}</p>
                            <p><strong>Description:</strong> {{info![3] }}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div *ngIf="type=='client'">
                <div class="card-container mat-elevation-z3">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Information</mat-card-title>
                            <mat-card-actions class="element-card-actions ">
                                <button (click)="editData(getId(element!), type)" mat-icon-button color="primary" class="mod-button">
                                <mat-icon>edit</mat-icon>
                              </button>
                            </mat-card-actions>
                        </mat-card-header>
                        <mat-card-content>
                            <p><strong>ID:</strong> {{info![0] }}</p>
                            <p><strong>Name:</strong> {{info![1] }}</p>
                            <p><strong>Email:</strong> {{info![2] }}</p>
                            <p><strong>Phone number:</strong> {{info![3] }}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>

        <div class="subAndParentsElements">

            <div class="parents">

                <div *ngIf="type=='issue'||type=='task'">
                    <div class="card-container-parent  mat-elevation-z3">
                        <mat-card>
                            <mat-card-content class="parentElement" (click)="toParent(getParentElementInfo()![4])">
                                <p><strong>Type:</strong> {{getParentElementInfo()![0]}}</p>
                                <p><strong>Name:</strong> {{getParentElementInfo()![1] }}</p>
                                <p><strong>Description:</strong> {{getParentElementInfo()![2]}}</p>
                                <p><strong>Status:</strong> {{getParentElementInfo()![3] }}</p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div *ngIf="type=='request'">
                    <div class="card-container-parent  mat-elevation-z3">
                        <mat-card>
                            <mat-card-content class="parentElement" (click)="toParent(getParentElementInfo()![4])">
                                <p><strong>Type:</strong> {{getParentElementInfo()![0]}}</p>
                                <p><strong>Name:</strong> {{getParentElementInfo()![1] }}</p>
                                <p><strong>Email:</strong> {{getParentElementInfo()![2]}}</p>
                                <p><strong>Phone number:</strong> {{getParentElementInfo()![3] }}</p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div *ngIf="type=='product'">
                    <div class="card-container-parent  mat-elevation-z3">
                        <mat-card>
                            <mat-card-content class="parentElement" (click)="toParent(getParentElementInfo()![4])">
                                <p><strong>Type:</strong> {{getParentElementInfo()![0]}}</p>
                                <p><strong>Name:</strong> {{getParentElementInfo()![1] }}</p>
                                <p><strong>Version:</strong> {{getParentElementInfo()![2]}}</p>
                                <p><strong>Description:</strong> {{getParentElementInfo()![3] }}</p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>

            <div class='sub'>
                <div *ngIf="type=='issue' || type=='request'|| type=='product'||type=='user'">
                    <div *ngFor="let obj of subElements" class="subElements">
                        <div class="card-container-sub  mat-elevation-z3">
                            <mat-card>
                                <mat-card-content class="subElement" (click)="toSubElement(getSubElementInfo(obj)![4])">
                                    <p><strong>Type:</strong> {{getSubElementInfo(obj)![0]}}</p>
                                    <p><strong>Name:</strong> {{getSubElementInfo(obj)![1] }}</p>
                                    <p><strong>Version:</strong> {{getSubElementInfo(obj)![2]}}</p>
                                    <p><strong>Description:</strong> {{getSubElementInfo(obj)![3] }}</p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
                <div *ngIf="type=='client'">
                    <div *ngFor="let obj of subElements" class="subElements">
                        <div class="card-container-sub  mat-elevation-z3">
                            <mat-card>
                                <mat-card-content class="subElement" (click)="toSubElement(getSubElementInfo(obj)![4])">
                                    <p><strong>Type:</strong> {{getSubElementInfo(obj)![0] }}</p>
                                    <p><strong>Name:</strong> {{getSubElementInfo(obj)![1] }}</p>
                                    <p><strong>Version:</strong> {{getSubElementInfo(obj)![2]}}</p>
                                    <p><strong>Description:</strong> {{getSubElementInfo(obj)![3] }}</p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>