/* You can add global styles to this file, and also import other style files */

body {
  background: url(https://images.pexels.com/photos/1379620/pexels-photo-1379620.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 100%;
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
