<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="334301910_1270227427207786_8644081298455786240_n.png" alt="goji-logo" border="0" height="36" />
    </a>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Users/Requests/Issues/Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()" routerLinkActive="active" ariaCurrentWhenActive="page">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<header>
  <h1>Welcome User</h1>
</header>
<!-- Page Content -->
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
<!--      <p class="lead">User name : {{user?.firstName}} {{user?.lastName}}</p>-->
<!--      <p class="lead">User login : {{user?.login}}</p>-->
<!--      <p class="lead">User email : {{user?.email}}</p>-->
<!--      <p class="lead">User role : {{user?.role}}</p>-->
      <p>This is a starter page for a logged user (Admin/Account Manager/Product Manager/Worker).</p>
      <p> They can use the navigation bar above to view the list of Users, Requests, Issues or Tasks as well as to log out. </p>
    </div>
  </div>
</div>
</body>
