<div *ngIf="type=='/users'&&this.inputData.id==0">
    <form [formGroup]="addUserForm" (ngSubmit)="SaveData()">
        <h1 mat-dialog-title>{{inputData.title}}</h1>
        <div mat-dialog-content>
            <mat-form-field>
                <mat-label>Firstname</mat-label>
                <input formControlName="firstName" matInput>
                <mat-error *ngIf="addUserForm.controls['firstName'].hasError('required')">
                  First name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Lastname</mat-label>
                <input formControlName="lastName" matInput>
                <mat-error *ngIf="addUserForm.controls['lastName'].hasError('required')">
                  Last name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Login</mat-label>
                <input formControlName="login" matInput>
                <mat-error *ngIf="addUserForm.controls['login'].hasError('required')">
                  Login is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input formControlName="password" type="password" matInput>
                <mat-error *ngIf="addUserForm.controls['password'].hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="addUserForm.controls['password'].hasError('pattern') && !addUserForm.controls['password'].hasError('required')">
                  Password should have at least one lowercase letter, uppercase letter, digit and minimum length of 8 characters.
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input formControlName="email" type="email" matInput>
                <mat-error *ngIf="addUserForm.controls['email'].hasError('email') && !addUserForm.controls['email'].hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="addUserForm.controls['email'].hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Role</mat-label>
                <mat-select formControlName="role" matInput>
                    <mat-option *ngFor="let role of roles" [value]="role.value">
                        {{role.viewValue}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="addUserForm.controls['role'].hasError('required')">
                  Role is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <p class="loginWarning" [hidden]="!isLoginWarningVisible">❗ User with such login already exist</p>
            <p class="emailWarning" [hidden]="!isEmailWarningVisible">❗ Check if email is correct</p>
        </div>
        <div mat-dialog-actions>
            <button mat-raised-button color="primary" [disabled]="!isFormValid(addUserForm)">Save</button>
            <button [mat-dialog-close] mat-raised-button color="warn">Cancel</button>
        </div>
    </form>
</div>
<div *ngIf="type=='/users'&&this.inputData.id!=0">
  <form [formGroup]="editUserForm" (ngSubmit)="SaveData()">
    <h1 mat-dialog-title>{{inputData.title}}</h1>
    <div mat-dialog-content>
      <mat-form-field>
        <mat-label>Firstname</mat-label>
        <input formControlName="firstName" matInput>
        <mat-error *ngIf="editUserForm.controls['firstName'].hasError('required')">
          First name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Lastname</mat-label>
        <input formControlName="lastName" matInput>
        <mat-error *ngIf="editUserForm.controls['lastName'].hasError('required')">
          Last name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Login</mat-label>
        <input formControlName="login" matInput>
        <mat-error *ngIf="editUserForm.controls['login'].hasError('required')">
          Login is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email" type="email" matInput>
        <mat-error *ngIf="editUserForm.controls['email'].hasError('email') && !editUserForm.controls['email'].hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="editUserForm.controls['email'].hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Role</mat-label>
        <mat-select formControlName="role" matInput>
          <mat-option *ngFor="let role of roles" [value]="role.value">
            {{role.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="editUserForm.controls['role'].hasError('required')">
          Role is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <p class="loginWarning" [hidden]="!isLoginWarningVisible">❗ User with such login already exist</p>
      <p class="emailWarning" [hidden]="!isEmailWarningVisible">❗ Check if email is correct</p>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" [disabled]="!isFormValid(editUserForm)">Save</button>
      <button [mat-dialog-close] mat-raised-button color="warn">Cancel</button>
    </div>
  </form>
</div>
<div *ngIf="type=='/clients'">
  <form [formGroup]="clientForm" (ngSubmit)="SaveData()">
    <h1 mat-dialog-title>{{inputData.title}}</h1>
    <div mat-dialog-content>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput>
        <mat-error *ngIf="clientForm.controls['name'].hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" formControlName="email" matInput>
        <mat-error *ngIf="clientForm.controls['email'].hasError('email') && !clientForm.controls['email'].hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="clientForm.controls['email'].hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone number</mat-label>
        <input type="tel" formControlName="phoneNumber" matInput>
        <mat-error *ngIf="clientForm.controls['phoneNumber'].hasError('pattern') && !clientForm.controls['phoneNumber'].hasError('required')">
          Please enter a valid phone number
        </mat-error>
        <mat-error *ngIf="clientForm.controls['phoneNumber'].hasError('required')">
          Phone number is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-raised-button color="primary" [disabled]="!isFormValid(clientForm)">Save</button>
      <button [mat-dialog-close] mat-raised-button color="warn">Cancel</button>
    </div>
  </form>
</div>
<div *ngIf="type=='/products'">
  <form [formGroup]="productForm" (ngSubmit)="SaveData()">
    <h1 mat-dialog-title>{{inputData.title}}</h1>
    <div mat-dialog-content>
      <mat-form-field *ngIf="clients$ | async as clients" [hidden]="inputData.id">
        <mat-label>Client</mat-label>
        <mat-select formControlName="clientId" matInput>
          <mat-option *ngFor="let client of clients" [value]="client.clientId">
            {{client.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="productForm.controls['clientId'].hasError('required')">
          Client is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Product name</mat-label>
        <input formControlName="productName" matInput>
        <mat-error *ngIf="productForm.controls['productName'].hasError('required')">
          Product name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Version number</mat-label>
        <input type="number" min="1" step="0.1" formControlName="version" matInput>
        <mat-error *ngIf="productForm.controls['version'].hasError('required')">
          Version is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="productForm.controls['version'].hasError('min')">
          Invalid number input
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea #productDescription maxlength="400" formControlName="description" matInput></textarea>
        <mat-hint align="end">{{productDescription.value.length}}/400</mat-hint>
        <mat-error *ngIf="productForm.controls['description'].hasError('required')">
          Description is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-raised-button color="primary" [disabled]="!isFormValid(productForm)">Save</button>
      <button [mat-dialog-close] mat-raised-button color="warn">Cancel</button>
    </div>
  </form>
</div>
<div *ngIf="type=='/requests'">
    <form [formGroup]="requestForm" (ngSubmit)="SaveData()">
        <h1 mat-dialog-title>{{inputData.title}}</h1>
        <div mat-dialog-content>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input formControlName="requestName" matInput>
                <mat-error *ngIf="requestForm.controls['requestName'].hasError('required')">
                  Request name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea #requestDescription maxlength="400" formControlName="description" matInput></textarea>
                <mat-hint align="end">{{requestDescription.value.length}}/400</mat-hint>
                <mat-error *ngIf="requestForm.controls['description'].hasError('required')">
                  Description is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="products$ | async as products" [hidden]="inputData.id">
                <mat-label>Product</mat-label>
                <mat-select formControlName="productId" matInput>
                    <mat-option *ngFor="let product of products" [value]="product.productId">
                        {{product.productName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="requestForm.controls['productId'].hasError('required')">
                  Product is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div mat-dialog-actions>
            <button mat-raised-button color="primary" [disabled]="!isFormValid(requestForm)">Save</button>
            <button [mat-dialog-close] mat-raised-button color="warn">Cancel</button>
        </div>
    </form>
</div>
<div *ngIf="type=='/issues'">
    <form [formGroup]="issueForm" (ngSubmit)="SaveData()">
        <h1 mat-dialog-title>{{inputData.title}}</h1>
        <div mat-dialog-content>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input formControlName="issueName" matInput>
                <mat-error *ngIf="issueForm.controls['issueName'].hasError('required')">
                  Issue name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea #issueDescription maxlength="400" formControlName="description" matInput></textarea>
                <mat-hint align="end">{{issueDescription.value.length}}/400</mat-hint>
                <mat-error *ngIf="issueForm.controls['description'].hasError('required')">
                  Description is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="requests$ | async as requests" [hidden]="inputData.id">
                <mat-label>Request</mat-label>
                <mat-select formControlName="requestId" matInput>
                    <mat-option *ngFor="let request of requests" [value]="request.requestId">
                        {{request.requestName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="issueForm.controls['requestId'].hasError('required')">
                  Request is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Type</mat-label>
              <mat-select formControlName="type" matInput>
                <mat-option *ngFor="let type of types" [value]="type">
                  {{type}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="issueForm.controls['type'].hasError('required')">
                Type is <strong>required</strong>
              </mat-error>
            </mat-form-field>
        </div>

        <div mat-dialog-actions>
            <button mat-raised-button color="primary" [disabled]="!isFormValid(issueForm)">Save</button>
            <button [mat-dialog-close] mat-raised-button color="warn">Cancel</button>
        </div>
    </form>
</div>
<div *ngIf="type=='/tasks'">
    <form [formGroup]="taskForm" (ngSubmit)="SaveData()">
        <h1 mat-dialog-title>{{inputData.title}}</h1>
        <div mat-dialog-content>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input formControlName="taskName" matInput>
                <mat-error *ngIf="taskForm.controls['taskName'].hasError('required')">
                  Task name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea #taskDescription maxlength="400" formControlName="description" matInput></textarea>
                <mat-hint align="end">{{taskDescription.value.length}}/400</mat-hint>
                <mat-error *ngIf="taskForm.controls['description'].hasError('required')">
                  Description is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="issues$ | async as issues" [hidden]="inputData.id">
                <mat-label>Issue</mat-label>
                <mat-select formControlName="issueId" matInput>
                    <mat-option *ngFor="let issue of issues" [value]="issue.issueId">
                        {{issue.issueName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="taskForm.controls['issueId'].hasError('required')">
                  Issue is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Type</mat-label>
              <mat-select formControlName="type" matInput>
                <mat-option *ngFor="let type of types" [value]="type">
                  {{type}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="taskForm.controls['type'].hasError('required')">
                Type is <strong>required</strong>
              </mat-error>
            </mat-form-field>
        </div>

        <div mat-dialog-actions>
            <button mat-raised-button color="primary" [disabled]="!isFormValid(taskForm)">Save</button>
            <button [mat-dialog-close] mat-raised-button color="warn">Cancel</button>
        </div>
    </form>
</div>
