<div *ngIf="type=='/users'">
  <form [formGroup]="userForm" (ngSubmit)="SaveData()">
    <h1 mat-dialog-title>{{inputData.title}}</h1>
    <div mat-dialog-content>
        <mat-form-field>
          <mat-label>Firstname</mat-label>
          <input formControlName="firstName" matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Lastname</mat-label>
          <input formControlName="lastName" matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Login</mat-label>
          <input formControlName="login" matInput>
        </mat-form-field>
      <div *ngIf="this.inputData.id==0">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input formControlName="password" type="password" matInput>
        </mat-form-field>
      </div>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input formControlName="email" type="email" matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Role</mat-label>
          <mat-select formControlName="role" matInput>
            <mat-option *ngFor="let role of roles" [value]="role.value">
              {{role.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
      <div mat-dialog-actions>
        <button mat-raised-button color="primary" [disabled]="!isFormValid(userForm)">Save</button>
        <button [mat-dialog-close] mat-raised-button color="warn">Cancel</button>
      </div>
  </form>
</div>
<div *ngIf="type=='/requests'">
    <form [formGroup]="requestForm" (ngSubmit)="SaveData()">
      <h1 mat-dialog-title>{{inputData.title}}</h1>
      <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input formControlName="requestName" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input formControlName="description" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Product ID</mat-label>
      <input formControlName="productId" matInput>
    </mat-form-field>
  </div>

    <div mat-dialog-actions>
      <button mat-raised-button color="primary" [disabled]="!isFormValid(requestForm)">Save</button>
      <button [mat-dialog-close] mat-raised-button color="warn">Cancel</button>
    </div>
  </form>
</div>
<div *ngIf="type=='/issues'">
  <form [formGroup]="issueForm" (ngSubmit)="SaveData()">
    <h1 mat-dialog-title>{{inputData.title}}</h1>
    <div mat-dialog-content>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input formControlName="issueName" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input formControlName="description" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Request ID</mat-label>
        <input formControlName="requestId" matInput>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-raised-button color="primary" [disabled]="!isFormValid(issueForm)">Save</button>
      <button [mat-dialog-close] mat-raised-button color="warn">Cancel</button>
    </div>
  </form>
</div>
<div *ngIf="type=='/tasks'">
  <form [formGroup]="taskForm" (ngSubmit)="SaveData()">
    <h1 mat-dialog-title>{{inputData.title}}</h1>
    <div mat-dialog-content>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input formControlName="taskName" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input formControlName="description" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Issue ID</mat-label>
        <input formControlName="issueId" matInput>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-raised-button color="primary" [disabled]="!isFormValid(taskForm)">Save</button>
      <button [mat-dialog-close] mat-raised-button color="warn">Cancel</button>
    </div>
  </form>
</div>
